<!DOCTYPE html>
<html>
	<head>
		<!-- build:metaComponent -->
		<!-- endbuild -->
		<title>小二帮</title>
		<base href="dev/pages/home/">
		<!-- build:cssComponent -->
		<!-- endbuild -->
		<meta content="initial-scale=' + 1/dpr + ', maximum-scale=' + 1/dpr + ', minimum-scale=' + 1/dpr + ', user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/home/home.css"/>
	</head>
	<body>
		<div id="home" v-cloak>
			<!-- 头部开始 -->
			<header v-if="!showH5">
				<div class="left">
					<img src="../../img/erayic-enterprise/logo.png"/>
				</div>
				<div class="right">
					<span v-for="(item, index) in title" :class="titleIndex == index?'active':''" @click="changeIndex(index, item.url)">{{item.name}}</span>
				</div>
			</header>
			<header v-else class="h5-head">
				<div class="h5-logo" @click="showH5Menu=true;">
					<img src="../../img/home/icon/menu-logo.png"/>
				</div>
				<h1>小二帮</h1>
			</header>
			<!-- 头部结束 -->
			
			<div id="wrap" :class="showH5?'h5-box':'pc-box'" ref="viewBox">
				<div id="main">
					<!-- 首页部分开始 -->
					<div class="index-part page" id="page1" ref="viewBox">
						<div id="msg_end" style="height:1px; overflow:hidden;background:#f5f5f5;"></div>
						<img src="../../img/home/title-img/title01.png" class="title-img"/>
						<div class="qrcode-img" v-if='!showH5'>
							<div :class="['left-qr',onPersonalCode?'showPersonCode':'']">
								<img src="../../img/home/icon/personal-logo.png"/>
							</div>
							<div :class="['left-enterprise',onEnterpriseCode?'showEnterpriseCode':'']">
								<img src="../../img/home/icon/enterprise-logo.png"/>
							</div>
							<div class="right-qr" @mousemove="onPersonalCode=true" @mouseleave="onPersonalCode=false">
								<img src="../../img/home/icon/qr-white.png"/>
								<p>
									<span>企业版</span>
									<span>立即下载</span>
								</p>
							</div>
							<div class="right-qr right-qr2" @mousemove="onEnterpriseCode=true" @mouseleave="onEnterpriseCode=false">
								<img src="../../img/home/icon/qr-white.png"/>
								<p>
									<span>个人版</span>
									<span>立即下载</span>
								</p>
							</div>
						</div>
					</div>
					<!-- 首页部分结束 -->
					
					<!-- 功能特点部分开始 -->
					<div class="features-part page" id="page2">
						<!-- <div class="showHidden1 showHidden"> -->
							<div class="features-text">
								<img src="../../img/home/title-img/title02.png" />
								<p>
									小二帮实现了农业生产环境智能感知、智能预警、智能决策、智能分析，为农业生产者提供了农作物生长过程的全方位监督、管理与控制，为农业生产管理提供了有力的保障。
								</p>
							</div>
							<div class="sys-text">
								<p>线上·自动化操作</p>
								<span>系统</span>
								<p>线下·智能化通知</p>
							</div>
							<ul class="features-list">
								<li v-for="(item, index) in features">
									<img :src="item.img"/>
									<h4>{{item.title}}</h4>
									<p>{{item.text}}</p>
								</li>
							</ul>
						<!-- </div> -->
					</div>
					<!-- 功能特点部分结束 -->
					
					<!-- 核心服务开始 -->
					<div class="core-services-part page" id="page3">
						<!-- <div class="showHidden2 showHidden"> -->
							<div class="features-text">
								<img src="../../img/home/title-img/title03.png" />
								<p>
									依托了多方面的数据源、多个智能决策系统，通过平台对进行控制，做到精确感知、精准操作、精细管理，全方位地为农业生产企业提供了必要的技术支撑。
								</p>
							</div>
							<ul class="services-list"> 
								<li v-for="(item,index) in services">
									<img :src="item.img"/>
									<p>{{item.text}}</p>
								</li>
							</ul>
						<!-- </div> -->
					</div>
					<!-- 核心服务结束 -->
					
					<!-- 群众目标开始 -->
					<div class="mass-target-part page" id="page4">
						<!-- <div class="showHidden3 showHidden"> -->
							<div class="features-text">
								<img src="../../img/home/title-img/title04.png" />
								<p>
									空地变硕果 · 帮你轻松种植
								</p>
							</div>
							<div class="target-list features-list">
								<div id="chart-box1" :style="{width:(showH5?'50%':'33%')}">
									<div id="chart1" style="width: 100%;height: 230px;"></div>
									<div class="proccess">
										<span>{{proccess1}}%</span>
										<span>农户企业</span>
									</div>
									<div id="" class="chart-box">
										<p>
											充分利用信息化手段，提高生产效率，实现生产科技化，迈向智慧农业之路
										</p>
									</div>
								</div>
								<div id="chart-box2" :style="{width:(showH5?'50%':'33%')}">
									<div id="chart2" style="width: 100%;height: 230px;"></div>
									<div class="proccess">
										<span>{{proccess2}}%</span>
										<span>种植户</span>
									</div>
									<div id="" class="chart-box">
										<p>
											打通“最初一公里”和“最后一公里”，让种植户足不出户，就能得到帮助
										</p>
									</div>
								</div>
								<div id="chart-box3" :style="{width:(showH5?'50%':'33%')}">
									<div id="chart3" style="width: 100%;height: 230px;"></div>
									<div class="proccess">
										<span>{{proccess3}}%</span>
										<span>非农用户</span>
									</div>
									<div id="" class="chart-box">
										<p>
											精准天气预报及预警服务，实时气象状况一手掌握，便利生活
										</p>
									</div>
								</div>
							</div>
							<footer v-if="!showH5">
								<div>
									<div class="left">
										<div v-for="item in contact">
											<img :src="item.img"/>
											<div>
												<p class="first-span">{{item.title}}<p>
												<p>{{item.text}}</p>
											</div>
										</div>
									</div>
									<div class="right">
										<img src="../../img/home/icon/qr-code.png"/>
										<span>小二帮微信公众号</span>
									</div>
								</div>
								<p class="copyright">@ 2019 海南易瑞可高新技术开发有限公司.琼ICP备07500410号-2</p>
							</footer>
							<!-- 移动版的底部（版权信息） -->
							<div class="h5-footer" v-if="showH5">
								<p>@ 2019 海南易瑞可高新技术开发有限公司.琼ICP备07500410号-2</p>
							</div>
						<!-- </div> -->
					</div>
					<!-- 群众目标结束 -->
					<!-- 回到顶部悬浮栏 -->
					<div class="back-to-top hide" v-if="!showH5">
						<div class="img-div" @click="toPage(0)">
							<img src="../../img/home/icon/to-top.png"/>
						</div>
						<div class="img-div">
							<img src="../../img/home/icon/qr-logo.png" @mousemove="showMiniCode=true" @mouseleave="showMiniCode=false"/>
						</div>
						<div :class="['mini-img',showMiniCode?'mini-code':'']">
							<img src="../../img/home/icon/mini-logo.png"/>
							<span>扫码即可咨询专家</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 移动版的底部下载栏 -->
			<nav class="nav-dowmload" v-if="showH5">
				<div class="left">
					<img src="../../img/logo.png"/>
					<p>
						<span>小二帮APP</span>
						<span>小二帮·农作物种植的好助手</span>
					</p>
				</div>
				<div class="right">
					<span @click="toHref('download')">立即下载</span>
				</div>
			</nav>
			<!-- 移动版的菜单页 -->
			<div class="h5-menu" v-if="showH5Menu">
				<header class="h5-head">
					<div class="h5-logo" @click="showH5Menu=false;">
						<img src="../../img/home/icon/close-icon.png"/>
					</div>
					<h1>小二帮</h1>
				</header>
				<ul>
					<li v-for="(item, index) in title"><span :class="menuIndex == index?'active':''" @click="toHref(item.url)">{{item.name}}</span></li>
				</ul>
			</div>
		</div>
		<!-- <script src="../../../vconsole.min.js"></script>
			<script>
			new VConsole()
		</script> -->
		<!-- build:scriptComponent -->
		<!-- endbuild -->
		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<script type="text/javascript" src="../../js/home/home.min.js"></script>		
	</body>
</html>
