<!DOCTYPE html>
<html>
	<head>
		<!-- build:metaComponent -->
		<!-- endbuild -->
		<title></title>
		<base href="dev/pages/home/">
		<!-- build:cssComponent -->
		<!-- endbuild -->
		<meta content="initial-scale=' + 1/dpr + ', maximum-scale=' + 1/dpr + ', minimum-scale=' + 1/dpr + ', user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../lib/swiper/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Chart.js/2.8.0-rc.1/Chart.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/home/home.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/home-list/brand_list_component.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/home-list/store_list_component.css"/>
	</head>
	<body>
		<div id="home" v-cloak>
			<!-- 头部开始 -->
			
			<header>
				<div class="logo">
					<img src="../../img/logo.png"/>
				</div>
				<ul class="title">
					<li v-for="(item,index) in title" :class="[titleIndex == index? 'active':'']" @click="changeIndex(index)">{{item}}</li>
				</ul>
			</header>
			<!-- 头部结束 -->
			<main class="home-content" ref="viewBox">
				<div id="container">
					<!-- 首页部分开始 -->
					<div class="index-part">
						<div class="qrcode-img">
							<div class="left-qr">
								<img src="../../img/home/icon/qr-public.png"/>
							</div>
							<div class="right-qr">
								<img src="../../img/home/icon/qr-white.png"/>
								<span>下载APP</span>
							</div>
						</div>
					</div>
					<!-- 首页部分结束 -->
					
					<!-- 功能特点部分开始 -->
					<div class="features-part">
						<div class="features-text">
							<h3>功能特点</h3>
							<p>
								小二帮实现了农业生产环境智能感知、智能预警、智能决策、智能分析，为农业生产者提供了农作物生长过程的全方位监督、管理与控制，为农业生产管理提供了有力的保障。
							</p>
						</div>
						<div class="sys-text">
							<p>线上·自动化操作</p>
							<span>系统</span>
							<p>线下·智能化通知</p>
						</div>
						<ul class="features-list">
							<li v-for="(item, index) in features">
								<img :src="item.img"/>
								<h4>{{item.title}}</h4>
								<p>{{item.text}}</p>
							</li>
						</ul>
					</div>
					<!-- 功能特点部分结束 -->
					<!-- 核心服务开始 -->
					<div class="core-services-part">
						<div class="features-text">
							<h3>核心服务</h3>
							<p>
								依托了多方面的数据源、多个智能决策系统，通过平台对进行控制，做到精确感知、精准操作、精细管理，全方位地为农业生产企业提供了必要的技术支撑。
							</p>
						</div>
						<ul class="services-list"> 
							<li v-for="(item,index) in services">
								<img :src="item.img"/>
								<p>{{item.text}}</p>
							</li>
						</ul>
					</div>
					<!-- 核心服务结束 -->
					
					<!-- 群众目标开始 -->
					<div class="mass-target-part">
						<div class="features-text">
							<h3>核心服务</h3>
							<p>
								空地变硕果 · 帮你轻松种植
							</p>
						</div>
						<div class="features-list col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
							<div id="indicatorContainer1">
								<span>农业用户</span>
								<p>
									充分利用信息化手段，提高生产效率，实现生产科技化，迈向智慧农业之路
								</p>
							</div>
							<div id="indicatorContainer2">
								<span>种植户</span>
								<p>
									打通“最初一公里”和“最后一公里”，让种植户足不出户，就能得到帮助
								</p>
							</div>
							<div id="indicatorContainer3">
								<span>非农业户</span>
								<p>
									精准天气预报及预警服务，实时气象状况一手掌握，便利生活
								</p>
							</div>
						</div>
					</div>
					<!-- 群众目标结束 -->
					<footer>
						<div class="left">
							<div v-for="item in contact">
								<img :src="item.img"/>
								<p>
									<span>{{item.title}}<span>
									<span>{{item.text}}</span>
								</p>
							</div>
						</div>
					</footer>
				</div>
			</main>
		</div>
		<!-- build:scriptComponent -->
		<!-- endbuild -->
		<script src="https://cdn.bootcss.com/radialIndicator/1.3.1/radialIndicator.min.js"></script>
		<script type="text/javascript" src="../../js/home/home.min.js"></script>		
	</body>
</html>
