<!DOCTYPE html>
<html>
	<head>
		<!-- build:metaComponent -->
		<!-- endbuild -->
		<title>小二帮-个人版</title>
		<!-- build:cssComponent -->
		<!-- endbuild -->
		<link rel="stylesheet" type="text/css" href="../../css/erayic-personal/erayic-personal.css"/>
	</head>
	<body>
		<div id="erayic-personal" v-cloak>
			<header v-if="!showH5">
				<div class="left">
					<img src="../../img/erayic-enterprise/logo.png"/>
				</div>
				<div class="right">
					<span v-for="(item, index) in title" :class="titleIndex == index?'active':''" @click="changeIndex(index, item.url)">{{item.name}}</span>
				</div>
			</header>
			<header v-else class="h5-head">
				<div class="h5-logo" @click="showH5Menu=true;">
					<img src="../../img/home/icon/menu-logo.png"/>
				</div>
				<h1>小二帮</h1>
			</header>
			<main :class="showH5?'h5-box':'pc-box'">
				<div class="title-box">
					<div>
						<img src="../../img/erayic-personal/icon/title.png" />
						<p>汇集海量的气象数据，实现了农业生产环境智能感知、智能预警、智能决策、智能分析，为农业生产者提供了农作物生长过程的全方位监督、管理与控制，为建设新服务理念的农业生产管理提供了有力的保障。</p>
					</div>
					<div class="qr-code" v-if="!showH5">
						<span @mousemove="onCode = true" @mouseleave="onCode = false">立即下载</span>
						<img src="../../img/erayic-personal/icon/personal-logo.png" :class="onCode?'show-code':''"/>
					</div>
				</div>
				<div class="function-part">
					<div class="row">
					    <div class="col-xs-6 col-md-4" v-for="item in features">
					    	<div class="img-box">
								<img :src="item.img" />
							</div>
					    	<p>
					    		<span>{{item.title}}</span>
					    		<span>{{item.text}}</span>
					    	</p>
					    </div>
					</div>
				</div>
				<footer v-if="!showH5">
					<div>
						<div class="left">
							<div v-for="item in contact">
								<img :src="item.img"/>
								<div>
									<p class="first-span">{{item.title}}<p>
									<p>{{item.text}}</p>
								</div>
							</div>
						</div>
						<div class="right">
							<img src="../../img/home/icon/qr-code.png"/>
							<span>小二帮微信公众号</span>
						</div>
					</div>
					<p class="copyright">@ 2019 海南易瑞可高新技术开发有限公司.琼ICP备07500410号-2</p>
				</footer>
				<!-- 移动版的底部（版权信息） -->
				<div class="h5-footer" v-if="showH5">
					<p>@ 2019 海南易瑞可高新技术开发有限公司.琼ICP备07500410号-2</p>
				</div>
			</main>
			
			<!-- 移动版的底部下载栏 -->
			<nav class="nav-dowmload" v-if="showH5">
				<div class="left">
					<img src="../../img/logo.png"/>
					<p>
						<span>小二帮APP</span>
						<span>小二帮·农作物种植的好助手</span>
					</p>
				</div>
				<div class="right">
					<span @click="toHref('download')">立即下载</span>
				</div>
			</nav>
			<!-- 移动版的菜单页 -->
			<div class="h5-menu" v-if="showH5Menu">
				<header class="h5-head">
					<div class="h5-logo" @click="showH5Menu=false;">
						<img src="../../img/home/icon/close-icon.png"/>
					</div>
					<h1>小二帮</h1>
				</header>
				<ul>
					<li v-for="(item, index) in title"><span :class="menuIndex == index?'active':''" @click="toHref(item.url)">{{item.name}}</span></li>
				</ul>
			</div>
		</div>
		<!-- build:scriptComponent -->
		<!-- endbuild -->
		<script src="../../js/erayic-personal/erayic-personal.min.js"></script>
	</body>
</html>
