html,body{
    height:100%;
    width:100%;
    background:#fff;
	overflow:hidden;
}
[v-cloak]{
    display:none;
}
#home{
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
}
#wrap{
    width:100%;
    height:100%;
    flex:1; 
    display: flex;
    flex-direction:column;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing:border-box;
    position:relative;
}
#container{
	height:100%;
	width:100%;
}
//头部
header{
	height:80px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:99;
	background:rgba(255,255,255,0.2);
	.logo{
		width:100px;
		height:80px;
		background:#30AFA8;
		position:absolute;
		left:0px;
		top:0px;
		display: flex;
		justify-content: center;
		img{
			width:80px;
			height:80px;
			border-radius:50%;
		}
	}
	.title{
		height:80px;
		display: flex;
		justify-content: center;
		align-items:center;
		li{
			margin-right:92px;
			font-size:22px;
			color:#333;
			&.active{
				font-weight:bold;
				color:#65B5B3;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}
.h5-head{
	width:100%;
	height:60px;
	background:#30AFA8;
	position:relative;
	h1{
		text-align: center;
		line-height:60px;
		font-size:24px;
		color:#fff;
	}
	.h5-logo{
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:44px;
		display: flex;
		justify-content: center;
		align-items:center;
	}
	img{
		height:22px;
		width:22px;
	}
}
//首页部分
.index-part{
	position:relative;
	height:100%;
	width:100%;
	background:url('../../img/home/bg1.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	.title-img{
		width:45%;
		position:absolute;
		top:43%;
		left:33%;
		transform: translate(-50%,0);
		-webkit-animation: codeBot .8s .5s ease-in-out both;
	}
	.qrcode-img{
		position:absolute;
		bottom:5%;
		left:0px;
		width:100%;
		display: flex;
		justify-content: center;
	} 
	.left-qr{
		display: none;
		position:absolute;
		bottom:0px;
		left:23%;
		img{
			width:255px;
			height:255px;
		}
	}
	.showCode{
	   display: block;
	   -webkit-animation: codeLeft 0.8s .1s ease both;
	}
	.right-qr{
		width:18%;
		height:80px;
		border-radius:50px;
		background:rgba(0,0,0,0.4);
		display: flex;
		justify-content: center;
		align-items:center;
		-webkit-animation: codeBot 1s .9s ease-in-out both;
		&:hover{
			cursor:pointer;
		}
		img{
			width:46px;
			height:46px;
			margin:4px 10% 0px 0px;
			// margin:4px 26px 0px 0px;
		}
		span{
			font-size:40px;
			color:#fff;
		}
	}
}
//功能特点部分
.features-part{
	position:relative;
	height:100%;
	width:100%;
	background:url('../../img/home/bg2.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
}
.features-text{
	display: flex;
	flex-direction:column;
	align-items:center;
	padding:150px 0px 73px;
	h3{
		font-size:50px;
		padding-bottom:50px;
		color:#fff;
	}
	img{
		margin-bottom:50px;
	}
	p{
		font-size:20px;
		color:#fff;
		line-height:30px;
		width:40%;
		text-indent: 2em;
	}
}
.sys-text{
	width:100%;
	height:128px;
	display: flex;
	justify-content: center;
	align-items:center;
	p{
		width:243px;
		height:60px;
		color:#fff;
		font-size:18px;
		display: flex;
		justify-content: center;
		align-items:center;
		background:rgba(255,255,255,0.3);
		&:first-child{
			margin-right:-8px;
			border-radius:50px 0px 0px 50px;
		}
		&:last-child{
			margin-left:-8px;
			border-radius:0px 50px 50px 0px;
		}
	}
	span{
		display: block;
		height:128px;
		width:128px;
		border-radius:50%;
		font-size:30px;
		color:#fff;
		line-height:128px;
		text-align:center;
		background:#fff;
		color:#3AB3AC;
		font-weight:bold;
		border:4px solid #3AB3AC;
	}
}
.features-list{
	width:100%;
	height:40%;
	padding:76px 100px 0px;
	box-sizing:border-box;
	display: flex;
	justify-content: center;
	li{
		width:22%;
		display: flex;
		flex-direction: column;
		align-items:center;
		img{
			width:78px;
			height:84px;
			margin-bottom:23px;
		}
		h4{
			font-size:25px;
			color:#fff;
			font-weight:normal;
			padding-bottom:20px;
		}
		p{
			font-size:16px;
			line-height:24px;
			color:#fff;
			width:48%;
			text-align:center;
		}
	}
}
//核心服务部分
.core-services-part{
	position:relative;
	height:100%;
	width:100%;
	background:url('../../img/home/bg3.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	.features-text{
		padding-bottom:117px;
	}
	.services-list{
		width:100%;
		padding:0px 120px;
		box-sizing:border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			width:25%;
			display: flex;
			flex-direction:column;
			align-items:center;
			img{
				width:100px;
				height:100px;
				margin-bottom:40px;
			}
			p{
				font-size:20px;
				color:#fff;
			}
			&:first-child{
				margin-bottom:80px;
			}
		}
	}
}
//群众目标部分
.mass-target-part{
	position:relative;
	height:100%;
	width:100%;
	background:#fff;
	background-size:100%;
	.features-text{
		padding-top:100px;
		h3{
			color:#333;
		}
		p{
			color:#333;
			text-align: center;
			text-indent: 0em;
			font-size:20px;
		}
	}
}
#indicatorContainer1, #indicatorContainer2, #indicatorContainer3, #indicatorContainer4{
	width:33%;
	height:115%;
	display: flex;
	justify-content: center;
	position:relative;
	canvas{
		width:218px !important;
		height:218px !important;
	}
	span{
		display: block;
		position:absolute;
		top:32%;
		left:50%;
		font-size:20px;
		transform:translate(-50%,-50%);
	}
	p{
		width:66%;
		position:absolute;
		left:50%;
		bottom:30%;
		font-size:18px;
		line-height:30px;
		transform:translate(-50%,0);
		text-align:center;
	}
}
.target-list{
	padding-top:0px;
	display: flex;
	justify-content: center;
}
//底部
footer{
	padding:60px 0px 0px 200px;
	width:100%;
	// height:350px;
	height:250px;
	box-sizing:border-box;
	background:#333;
	box-sizing:border-box;
	display:flex;
	justify-content: space-between;
	.left{
		&>div{
			display:flex;
			margin-bottom:35px;
			align-items:center;
		}
		img{
			width:48px;
			height:48px;
			margin:0px 20px 0px;
		}
		p{
			color:#fff;
			display: block;
		}
		.first-span{
			margin-bottom:10px;
		}
	}
	.right{
		padding-right:298px;
		img{
			width:145px;
			height:145px;
			margin-bottom:10px;
		}
		span{
			text-align: center;
			display: block;
			color:#fff;
			font-size:16px;
		}
	}
}
//回到顶部悬浮
.back-to-top{
	width:60px;
	height:154px;
	position:fixed;
	bottom:40px;
	right:25px;
	&.hide{
	    display: none;
	}
	&.bottom_right_cur{
	    display: block;
	    -webkit-animation: codeBot 0.8s .1s ease both;
	}
	&.codeFixCur{
	    display: block;
	    -webkit-animation: codeLeft 0.8s .1s ease both;
	}
	.img-div{
		width:60px;
		height:60px;
		background:#fff;
		text-align: center;
		line-height:60px;
		margin-bottom:18px;
		&:hover{
			cursor: pointer;
		}
	}
	.mini-img{
		position:absolute;
		right:80px;
		top:-22.4%;
		display: flex;
		flex-direction:column;
		z-index:99;
		display: none;
		img{
			height:150px;
			width:135px;
		}
		span{
			display: block;
			height:26px;
			line-height:26px;
			width:137px;
			background:#1D1D1D;
			color:#fff;
			text-align:center;
		}
	}
	.mini-code{
		display: block;
		-webkit-animation: miniCodeLeft 0.8s .1s ease both;
	}
	img{
		width:42px;
		height:42px;
	}
}

/*媒体查询：注意and后面空格的添加*/
/*iphone: w < 768px*/
@media screen and (max-width: 768px){
	
}
/*pad: w >= 768  && w< 992*/
@media screen and (max-width: 992px) and (min-width: 768px) {
	.index-part .right-qr{
		width:20%;
		height:60px;
		span{
			font-size:20px;
		}
	}
	.index-part .left-qr{
		left:16%;
		img{
			width:150px;
			height:150px;
		}
	}
	.features-list{
		padding: 45px 10px 0px;
		li{
			p{
				width:78%;
			}
		}
	}
	.core-services-part .services-list li:first-child{
		margin-bottom: 50px;
	}
	#indicatorContainer1, #indicatorContainer2, #indicatorContainer3, #indicatorContainer4{
		width:25%;
		height:110%;
		canvas{
			width:140px !important;
			height:140px !important;
		}
		span{
			top:26%;
		}
		p{
			width:90%;
		}
	}
	footer{
		padding:60px 0px 0px 100px;
	}
}
/*中等屏幕   w >= 992  && w<1200*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
	.index-part .right-qr{
		width:20%;
		span{
			font-size:28px;
		}
	}
	.index-part .left-qr{
		left:18%;
		img{
			width:200px;
			height:200px;
		}
	}
	.features-list{
		padding: 45px 40px 0px;
	}
	#indicatorContainer1, #indicatorContainer2, #indicatorContainer3, #indicatorContainer4{
		width:25%;
		height:110%;
		canvas{
			width:150px !important;
			height:150px !important;
		}
		span{
			top:26%;
		}
		p{
			width:90%;
		}
	}
}

//回到顶部动画
@-webkit-keyframes codeBot {
    0%{
        opacity: 0;
        -webkit-transform: translateY(97px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}
//首页第一屏二维码动画
@-webkit-keyframes codeLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}
//展示小程序码动画
@-webkit-keyframes miniCodeLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}