html,body{
    height:100%;
    width:100%;
    background:#fff;
	overflow:hidden;
}
[v-cloak]{
    display:none;
}
#myChart{
	width:400px !important;
	height:400px !important;
}
#home{
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
}
#wrap{
    width:100%;
    height:100%;
    flex:1; 
    display: flex;
    flex-direction:column;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing:border-box;
    position:relative;
}
#container{
	height:100%;
	width:100%;
}
//头部
header{
	height:80px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:99;
	background:rgba(255,255,255,0.2);
	.logo{
		width:100px;
		height:80px;
		background:#30AFA8;
		position:absolute;
		left:0px;
		top:0px;
		display: flex;
		justify-content: center;
		img{
			width:80px;
			height:80px;
			border-radius:50%;
		}
	}
	.title{
		height:80px;
		display: flex;
		justify-content: center;
		align-items:center;
		li{
			margin-right:92px;
			font-size:22px;
			color:#333;
			&.active{
				font-weight:bold;
				color:#65B5B3;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}
.h5-head{
	width:100%;
	height:60px;
	background:#30AFA8;
	h1{
		text-align: center;
		line-height:60px;
		font-size:24px;
		color:#fff;
	}
	.h5-logo{
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:44px;
		display: flex;
		justify-content: center;
		align-items:center;
	}
	img{
		height:26px;
		width:26px;
	}
}
//首页部分
.index-part{
	position:relative;
	height:100%;
	width:100%;
	background:url('../../img/home/bg1.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	.title-img{
		width:45%;
		position:absolute;
		top:43%;
		left:33%;
		transform: translate(-50%,0);
		-webkit-animation: codeBot .8s .5s ease-in-out both;
	}
	.qrcode-img{
		position:absolute;
		bottom:5%;
		left:0px;
		width:100%;
		display: flex;
		justify-content: center;
	} 
	.left-qr{
		display: none;
		position:absolute;
		bottom:0px;
		left:23%;
		img{
			width:255px;
			height:255px;
		}
	}
	.left-enterprise{
		display: none;
		position:absolute;
		bottom:0px;
		left:38%;
		z-index:99;
		img{
			width:255px;
			height:255px;
		}
	}
	.showPersonCode{
	   display: block;
	   -webkit-animation: codeLeft1 0.8s .1s ease both;
	}
	.showEnterpriseCode{
		display: block;
		-webkit-animation: codeLeft2 0.8s .1s ease both;
	}
	.right-qr{
		width:12%;
		height:80px;
		border-radius:50px;
		background:rgba(0,0,0,0.4);
		display: flex;
		justify-content: center;
		align-items:center;
		-webkit-animation: codeBot 1s .9s ease-in-out both;
		margin-left:38px;
		&:hover{
			cursor:pointer;
		}
		img{
			width:46px;
			height:46px;
			margin:4px 6% 0px 0px;
			// margin:4px 26px 0px 0px;
		}
		p{
			span{
				display: block;
				font-size:16px;
				color:#fff;
			}
			span:last-child{
				font-size:18px;
				padding-top:10px;
			}
		}
	}
	.right-qr2:hover{
		cursor: pointer;
	}
}
//功能特点部分
.features-part{
	position:relative;
	height:100%;
// 	padding-bottom:5.4%;
	// overflow: hidden;
	box-sizing:border-box;
	// height:auto;
	width:100%;
	background:url('../../img/home/bg2.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
}
.features-text{
	display: flex;
	flex-direction:column;
	align-items:center;
	padding:150px 0px 73px;
	h3{
		font-size:50px;
		padding-bottom:50px;
		color:#fff;
	}
	img{
		margin-bottom:50px;
	}
	p{
		font-size:20px;
		color:#fff;
		line-height:30px;
		width:40%;
		text-indent: 2em;
	}
}
.sys-text{
	width:100%;
	height:128px;
	display: flex;
	justify-content: center;
	align-items:center;
	p{
		width:243px;
		height:60px;
		color:#fff;
		font-size:18px;
		display: flex;
		justify-content: center;
		align-items:center;
		background:rgba(255,255,255,0.3);
		&:first-child{
			margin-right:-8px;
			border-radius:50px 0px 0px 50px;
		}
		&:last-child{
			margin-left:-8px;
			border-radius:0px 50px 50px 0px;
		}
	}
	span{
		display: block;
		height:128px;
		width:128px;
		border-radius:50%;
		font-size:30px;
		color:#fff;
		line-height:128px;
		text-align:center;
		background:#fff;
		color:#3AB3AC;
		font-weight:bold;
		border:4px solid #3AB3AC;
	}
}
.features-list{
	width:100%;
	height:40%;
	padding:76px 100px 0px;
	box-sizing:border-box;
	display: flex;
	justify-content: center;
	li{
		width:22%;
		display: flex;
		flex-direction: column;
		align-items:center;
		img{
			width:78px;
			height:84px;
			margin-bottom:23px;
		}
		h4{
			font-size:25px;
			color:#fff;
			font-weight:normal;
			padding-bottom:20px;
		}
		p{
			font-size:16px;
			line-height:24px;
			color:#fff;
			width:79%;
			text-align:center;
		}
	}
}
//核心服务部分
.core-services-part{
	position:relative;
	// padding-bottom:5%;
	box-sizing:border-box;
	// overflow:hidden;
	height:100%;
	// height:auto;
	width:100%;
	background:url('../../img/home/bg3.jpg') no-repeat;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	.features-text{
		padding-bottom:117px;
	}
	.services-list{
		width:100%;
		padding:0px 120px;
		box-sizing:border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			width:25%;
			display: flex;
			flex-direction:column;
			align-items:center;
			img{
				width:100px;
				height:100px;
				margin-bottom:40px;
			}
			p{
				font-size:20px;
				color:#fff;
			}
			&:first-child{
				margin-bottom:80px;
			}
		}
	}
}
//群众目标部分
.mass-target-part{
	position:relative;
	height:100%;
	// height:auto;
	width:100%;
	background:#fff;
	background-size:100%;
	.target-list{
		padding-top:40px;
		margin-bottom:26px;
		&>div{
			p{
				margin:0px auto;
				width:60%;
				text-align: center;
				font-size:16px;
				line-height:28px;
				padding-top:20px;
			}
		}
	}
	.features-text{
		padding-top:120px;
		padding-bottom:0px;
		h3{
			color:#333;
		}
		p{
			color:#333;
			text-align: center;
			text-indent: 0em;
			font-size:20px;
		}
	}
	canvas{
		// top:-36px !important;
	}
}
.target-list{
	width:100%;
	box-sizing: border-box;
	padding-left:150px;
	padding-right:150px;
	display: flex;
	justify-content: center;
	posiiton:relative;
}
.chart-box-list{
	display:flex;
	justify-content: center;
	height:72px;
	padding:0px 150px;
	.chart-box{
		text-align: center;
		width:33%;
		height:72px;
		position:relative;
		box-sizing: border-box;
		display: flex;
		flex-direction:column;
		align-items:center;
		p{
			position:absolute;
			top:-75%;
			width:60%;
			text-align: center;
			font-size:16px;
			line-height:28px;
		}
	}
}
//底部
footer{
	padding:40px 0px 0px 200px;
	width:100%;
	// height:350px;
	height:260px;
	box-sizing:border-box;
	background:#333;
	box-sizing:border-box;
	&>div{
		display:flex;
		justify-content: space-between;
	}
	.left{
		&>div{
			display:flex;
			margin-bottom:35px;
			align-items:center;
		}
		img{
			width:48px;
			height:48px;
			margin:0px 20px 0px;
		}
		p{
			color:#fff;
			display: block;
		}
		.first-span{
			margin-bottom:10px;
		}
	}
	.right{
		padding-right:298px;
		img{
			width:120px;
			height:120px;
			margin-bottom:10px;
		}
		span{
			text-align: center;
			display: block;
			color:#fff;
			font-size:16px;
		}
	}
	.copyright{
		padding-top:8px;
		font-size:10px;
		color:#fff;
		padding-left:35%;
	}
}
//回到顶部悬浮
.back-to-top{
	width:60px;
	height:154px;
	position:fixed;
	bottom:40px;
	right:25px;
	&.hide{
	    display: none;
	}
	&.bottom_right_cur{
	    display: block;
	    -webkit-animation: codeBot 0.8s .1s ease both;
	}
	&.codeFixCur{
	    display: block;
	    -webkit-animation: codeLeft 0.8s .1s ease both;
	}
	.img-div{
		width:60px;
		height:60px;
		background:#fff;
		text-align: center;
		line-height:60px;
		margin-bottom:18px;
		&:hover{
			cursor: pointer;
		}
	}
	.mini-img{
		position:absolute;
		right:80px;
		top:-22.4%;
		display: flex;
		flex-direction:column;
		z-index:99;
		display: none;
		img{
			height:150px;
			width:135px;
		}
		span{
			display: block;
			height:26px;
			line-height:26px;
			width:137px;
			background:#1D1D1D;
			color:#fff;
			text-align:center;
		}
	}
	.mini-code{
		display: block;
		-webkit-animation: miniCodeLeft 0.8s .1s ease both;
	}
	img{
		width:42px;
		height:42px;
	}
}

//移动端-底部下载
.nav-dowmload{
	width:100%;
	height:80px;
	background:#30AFA8;
	position:fixed;
	bottom:0px;
	left:0px;
	padding:0px 16px;
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content: space-between;
	.left{
		display:flex;
		height:100%;
		align-items:center;
		img{
			width:60px;
			height:60px;
			margin:0px;
		}
		p{
			span{
				color:#fff;
				display: block;
				&:first-child{
					font-size:16px;
					padding-top:8px;
				}
				&:last-child{
					font-size:12px;
					padding-top:10px;
				}
			}
		}
	}
	.right{
		display: flex;
		height:100%;
		align-items:center;
		span{
			display: block;
			width:82px;
			height:34px;
			border:1px solid #fff;
			border-radius:10px;
			line-height:34px;
			color:#fff;
			text-align:center;
		}
	}
}
//移动端-底部版权信息
.h5-footer{
	width:100%;
	height:69px;
	background:#333;
	p{
		text-align:center;
		height:69px;
		line-height:69px;
		box-sizing:border-box;
		color:#fff;
		font-size:12px;
	}
}
//移动端菜单栏
.h5-menu{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:url('../../img/home/bg/h5-bg.png');
	background-size:100%;
	z-index:99;
	.h5-logo img{
		width:15px;
		height:15px;
	}
	ul{
		width:100%;
		height:100%;
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content: center;
		li{
			margin-bottom:26px;
			span{
				display: block;
				height:34px;
				width:120px;
				font-size:16px;
				border:1px solid #fff;
				color:#fff;
				border-radius:8px;
				text-align:center;
				line-height:34px;
				&.active{
					background:#fff;
					color:#333;
					font-weight:bold;
				}
				&:hover{
					cursor:pointer;
				}
			}
		}
	}
}

/*媒体查询：注意and后面空格的添加*/
/*iphone: w < 768px*/
/*h5专用样式*/
@media screen and (max-width: 768px){
	.index-part{
		height:422px;
		margin-top:59px !important;
		.title-img{
			width:50% !important;
		}
	}
	.index-part .right-qr{
		width:32%;
		height:34px;
		img{
			width:20px;
			height:20px;
			margin-right:10px;
		}
		span{
			font-size:14px;
		}
	}
	.features-part, .core-services-part {
		height:auto;
	}
	.features-text{
		padding: 36px 0px 20px;
		img{
			width:110px;
			height:25px;
			margin-bottom:15px;
		}
	}
	.features-text p{
		width:77%;
		font-size:12px;
		line-height:18px;
	}
	.sys-text{
		height:70px;
		p{
			width: 140px;
			height: 32px;
			font-size: 14px;
		}
		span{
			width:70px;
			height:70px;
			font-size:20px;
			line-height:64px;
		}
	}
	.features-list{
		padding:24px 0px 20px;
		flex-direction:column;
		align-items:center;
		height:auto;
		li{
			width:100%;
			margin-bottom:30px;
			h4{
				font-size:16px;
				padding-bottom:10px;
			}
			img{
				width:60px;
				height:60px !important;
			}
			p{
				font-size: 12px;
				line-height: 20px;
				width: 98%;
			}
		}
	}
	.core-services-part {
		.services-list{
			padding:0px 40px 20px;
			flex-direction:column;
			align-items:center;
			li{
				width:100%;
				&:first-child{
					margin-bottom:30px;
				}
				margin-bottom:30px;
				img{
					width:46px;
					height:46px;
					margin-bottom:15px;
				}
				p{
					font-size:15px;
					text-align:center;
					line-height:20px;
				}
			}
		}
		.features-text{
			padding-bottom: 32px;
		}
	}	
	.mass-target-part{
		height:auto;
		.features-text{
			padding-top:35px;
			p{
				font-size:16px;
			}
		}
		.chart-box-list .chart-box p{
			width:80%;
		}
	}
	footer .copyright{
		padding-left:20%;
	}
	.mass-target-part .target-list{
		&>div{
			p{
				margin:0px auto;
				width:100%;
				margin-bottom:20px;
			}
		}
	}
}
/*pad: w >= 768  && w< 992*/
@media screen and (max-width: 992px) and (min-width: 768px) {
	.index-part .right-qr{
		width:20%;
		height:60px;
		span{
			font-size:20px;
		}
	}
	.index-part .left-qr{
		left:16%;
		img{
			width:150px;
			height:150px;
		}
	}
	.features-list{
		// padding: 45px 10px 0px;
		li{
			p{
				width:78%;
			}
		}
	}
	.core-services-part .services-list li:first-child{
		margin-bottom: 50px;
	}
	footer{
		// padding:60px 0px 0px 100px;
	}
	.features-part{
		padding-bottom:5.6%;
	}
	.core-services-part{
		padding-bottom:6.9%;
	}
	.chart-box-list .chart-box p{
		width:80%;
	}
	footer .copyright{
		padding-left:15%;
	}
	.mass-target-part .target-list{
		&>div{
			p{
				margin:0px auto;
				width:100%;
			}
		}
	}
	.index-part .left-enterprise{
		left:26%;
	}
}
/*中等屏幕   w >= 992  && w<1200*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
	.index-part .right-qr{
		width:20%;
		span{
			font-size:28px;
		}
	}
	.index-part .left-qr{
		left:18%;
		img{
			width:200px;
			height:200px;
		}
	}
	.features-part{
		padding-bottom:4.8%;
	}
	.core-services-part{
		padding-bottom:2.7%;
	}
	.features-list{
		// padding: 45px 40px 0px;
	}
	footer .copyright{
		padding-left:15%;
	}
	.index-part .left-enterprise{
		left:30%;
	}
	
}

//回到顶部动画
@-webkit-keyframes codeBot {
    0%{
        opacity: 0;
        -webkit-transform: translateY(97px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}
//首页第一屏二维码动画
@-webkit-keyframes codeLeft1 {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}
@-webkit-keyframes codeLeft2 {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}
//展示小程序码动画
@-webkit-keyframes miniCodeLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}
.showHidden{
	// display: none;
	visibility: hidden;
}
.showUp{
	display: block;
	visibility:visible;
	-webkit-animation: showUp 0.8s 0.6s ease both;
}
@-webkit-keyframes showUp {
    0%{
        opacity: 0;
        -webkit-transform: translateY(150px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}